{% extends "layout.html" %}


{% block title %}
{% endblock %}


{% block headline %}
{{ title }}
{% endblock %}


{% block content %}
<div class="card">
  <div class="card-header">
      <h4 class="card-title">
          チャンネル一覧
      </h4>
  </div>
  <div class="card-body">
      
    {% for chan in chan_list %}
    <form method="post" action="/">
    <div button type = "button" ><a href="/ChannelSetting_Chat/{{chan[0]}}">・{{chan[0]}}</a>({{chan[1]}})</div>
    {% endfor %}
  </div>
</div>
{% endblock %}



