{% extends "layout.html" %}


{% block title %}
{% endblock %}


{% block headline %}
{{ title }}
{% endblock %}


{% block content %}
{{ message }}</p>


<div class="card">
   <div >
      <font size ="+2">
         ・
         <class = "logout" ><a href="/Channelselection_Chat">Slackを用いたチャット議論を始める</a>
         <br>
         ・
         <class = "logout" ><a href="/Channelselection_web">オンライン会議を始める</a>

      </font>
    </div>

</div>
{% endblock %}



 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 <!--
 <!doctype html>
  <html class="no-js" lang="">

    <head>
      <meta charset="utf-8">
      <title></title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    
      <meta property="og:title" content="">
      <meta property="og:type" content="">
      <meta property="og:url" content="">
      <meta property="og:image" content="">
    
      <link rel="manifest" href="site.webmanifest">
      <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
       Place favicon.ico in the root directory 
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>
    

  <body>
    
    
   
      <br><br><br>

     <p class = "text-center">
      <font size ="+3">
          <class = "logout" ><a href="/page4">Slackを用いたチャット議論を始める</a>
      </font>
   </p>
   
  </body>

  </html>
-->