{% extends "layout.html" %}


{% block title %}

{% endblock %}


{% block headline %}
{{ title }}
{% endblock %}


{% block content %}
{{ message }}</p>


    <div class="card">
        <div class="card-body">
        <font size ="+2">
            ・
            <class = "logout" ><a href="/hosuukakefin">賭けをする</a>
       
         <br>
      
            ・
            <class = "logout" ><a href="/hosuurireki">これまでの歩数と賭けの成功履歴を見る</a>
        </font>
        </div>
        
    </div>

{% endblock %}




